.cards-page{
    display:flex;
}

.cards-container{
    margin: 2rem 3rem;
    width: 100%;
}

.cards_title{
    font-size: 1.5rem;
    font-weight: 800;
}

.cards_transactions_container{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.cards_transactions_title{
    margin: 1rem 10rem 0 0;
    font-size: 1.2rem;
}

.cards_transactions_title--strong{
    font-weight: 800;
    color: var(--primary-color);
}

.cards_transactions--summary{
    font-size: 1.1rem;
    cursor: pointer;
}

.card_no-transactions{
    position: absolute;
    top: 50%;
    font-size: 1.4rem;
    font-weight: 800;
}