:root{
    --primary-color: #45b34a;
    --menu-color: #59bb5c;
    --primary-color-hover: #7be115;
    
}

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;500;700;800;900&display=swap')