.extract-page{
    display:flex;
}

.extract-page_container{
    margin: 2rem 3rem;
    width: 100%;
}

.extract-page_title{
    font-size: 1.5rem;
    font-weight: 800;
}



.filtro{
    display: flex;
    justify-content: flex-start;
}
.filtros_container{
    margin: 1rem 0 2rem 0;
}
.filtros_titulo{
    font-weight:700;
    font-size:1.2rem;
}

.filtro_individual{
    margin-right: 1rem;
}

.extract_no-transactions{
    position: absolute;
    top: 50%;
    font-size: 1.4rem;
    font-weight: 800;
}