.company-profile{
    display:flex;
}

.company-container{
    margin: 2rem 3rem;
    width: 100%;
}

.chart{
    box-sizing: content-box;
    width: 85%;
    height: 25rem;
}

.company_title{
    font-size: 1.5rem;
    font-weight: 800;
}

.company_details{
    margin: 1rem 0;
}

.company_summary{
    line-height: 1.2rem;
    cursor: pointer;
}

.company_no-transactions{
    position: absolute;
    top: 50%;
    font-size: 1.4rem;
    font-weight: 800;
}

