.sidebar{
    height: 100vh;
    background-color: var(--menu-color);
    width: 20%;
    min-width: 15rem;
    display: inline-block;
}

.sidebar_container{
    box-sizing: border-box;
    padding: 1rem 0.5rem;
    margin: 0 2rem;
    height: 95%;
}

.sidebar_title{
    font-size: 1.5rem;
    color: #fefefe;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.sidebar_balance_label{
    font-size: 1.2rem;
    color: #353535;
}

.sidebar_balance{
    font-size: 1.7rem;
    color: #fefefe;
    font-weight: 1000;
}

.sidebar_menu{
    margin: 2rem 0;
}

.sidebar_menu-extrato{
    letter-spacing: 0.15rem;
    color: #fefefe;
    font-weight: 500;
    font-size:1.2rem;
}

.sidebar_menu-extrato:before{
    content: '';
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background: url(../../img/icon_extrato.svg) no-repeat;
    background-size: 1.2rem;
    margin-right: 0.5rem;
}