.login_container{
    width:100vw;
    height:100vh;
    background: rgb(119,217,141);
    background: linear-gradient(157deg, rgba(119,217,141,1) 0%, rgba(69,179,74,1) 76%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form{
    width:35%;
    height: 30rem;
    max-width: 25rem;
    background-color: #fefefe;
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-areas: "titulo" "input" "butao";
}

.login_title{
    grid-area: titulo;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 700;
}
.login_input{
    grid-area: input;
    height:25%;
    margin: 0 2rem;
    border-radius: 10px;
    border: 1px solid #838383;
    padding-left: 0.5rem;
    font-size: 1.2rem;
    
}
.login_button{
    grid-area: butao;
    height: 2.675rem;
    margin: 0 2rem;
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
}

.login_button:hover{
    background-color: var(--primary-color-hover);
}